<% provide(:title, t("home.about")) %>
<div class="about-us">
  <main id="main-content" class="main-content" role="main">
    <article>
      <div class="h5 text-center text-uppercase">About us</div>
      <h1 class="text-center">What We Do Everyday</h1>
      <div class="section-under-title-line"></div>
      <div class="text">
        <p>Neque cursus curae ante scelerisque vehicula porttitor natoque risus vitae lacinia felis elit netus sed iaculis</p>
        <p> interdum nullam sem habitasse vulputate reetturpis fringilla duis suspendisse arcu</p>
        <p>Ullamcorper scelerisque elit quam dignissim velit lacus urna quam interdum quisque bibendum platea iaculis</p>
        <p> blandit dapibus non natoque purus pellentesque</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas iaculis mauris nec lacus suscipit, et gravida </p>
        <p>magna volutpat. Nullam consequat rhoncus lacinia. Ut rhoncus velit ut sem elementum porttitor. </p>
      </div>
    </article>
    <article class="creative-team">
      <!--<div class="video-block">-->
      <!--  <img src="images/about-us-video.jpg" alt="">-->
      <!--  <div class="video-title">-->
      <!--    <div class="button-play"></div>-->
      <!--    <p class="title-first"><b>Work hard. Travel simple.</b></p>-->
      <!--    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>-->
      <!--  </div>-->
      <!--</div>-->
      <p class="text-center font-24"><i class="fa fa-users"></i></p>
      <h1 class="text-center">Out Creative Team</h1><hr>
      <p class="small text-center">Neque cursus curae ante scelerisque vehicula porttitor natoque risus vitae lacinia felis elit</p>
      <p class="small text-center">netus sed iaculis interdum nullam sem habitasse vulputate laoreet turpis fringilla duis suspendisse arcu</p>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="user-person-navigation">
            <div class="member-avatar">
              <img alt="user avatar" src="/assets/profile.png">
            </div>
            <h3 class="user-name">than viet bach</h3>
            <h6 class="user-membership">director</h6>
            <p class="text-center">Neque cursus curae ante scelei que vehicula porttitor natoque risus vitae lacinia felis elit netu</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="user-person-navigation">
            <div class="member-avatar">
              <img alt="user avatar" src="/assets/profile.png">
            </div>
            <h3 class="user-name">vu thu hien</h3>
            <h6 class="user-membership">director</h6>
            <p class="text-center">Neque cursus curae ante scelei que vehicula porttitor natoque risus vitae lacinia felis elit netu</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="user-person-navigation">
            <div class="member-avatar">
              <img alt="user avatar" src="/assets/profile.png">
            </div>
            <h3 class="user-name">doi khac thanh</h3>
            <h6 class="user-membership">founder &amp; Director</h6>
            <p class="text-center">Neque cursus curae ante scelei que vehicula porttitor natoque risus vitae lacinia felis elit netu</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="user-person-navigation">
            <div class="member-avatar">
              <img alt="user avatar" src="/assets/profile.png">
            </div>
            <h3 class="user-name">Nguyen Van Hung</h3>
            <h6 class="user-membership">CHIEF OPERATING OFFICER</h6>
            <p class="text-center">Neque cursus curae ante scelei que vehicula porttitor natoque risus vitae lacinia felis elit netu</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="user-person-navigation">
            <div class="member-avatar">
              <img alt="user avatar" src="/assets/profile.png">
            </div>
            <h3 class="user-name">Nguyen dinh chinh</h3>
            <h6 class="user-membership">CHIEF OPERATING OFFICER</h6>
            <p class="text-center">Neque cursus curae ante scelei que vehicula porttitor natoque risus vitae lacinia felis elit netu</p>
          </div>
        </div>
      </div>
    </article>
    <article class="contact">
      <h1 class="text-center">Want to become Part of our Team?</h1>
      <p class="text-center slogan">We are looking just for you!</p>
      <p class="text-center font-24"> <i class="fa fa-paper-plane"></i></p>
      <p class="text-center">
        <%= link_to "Contact Us", contact_path, class: "btn-default" %>
      </p>
    </article>
  </main>
</div>
