<div class="bookmarks">
  <h2><%= t"user.favorites" %></h2>
  <% bookmarks.each do |bookmark| %>
    <div class="lists">
      <div class="user-list odd">
        <img src="<%= bookmark.movie.avatar %>">
        <div class="list-info">
          <a class="list-name" href="#"><%= bookmark.movie.name %></a>
          <div class="list-meta"></div>
          <div class="description"></div>
        </div>
      </div>
    </div>
  <% end %>
</div>
