@import "font-awesome-sprockets";
@import "font-awesome";

.title-font {
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif !important;
}

.pmd-content {
  margin-bottom: 70px;
  padding: 65px 0 !important;
}

a.admin-btn {
  font-size: 18px;
  padding-left: 5px !important;
}

.pmd-sidebar.pmd-sidebar-open {
  background: #222D32;
  a {
    color: #fff;
    font-size: 18px;
  }

  li a:hover {
    background: #151d32;
    color: #fff;
  }
}

.sidebar-form {
  border: 1px solid #374850;
  border-radius: 3px;
  margin: 10px 10px;
}

.input-group {
  border-collapse: separate;
  display: table;
  position: relative;
}

.sidebar-form input[type="text"] {
  border-radius: 2px;
  color: #666;
}

.sidebar-form input[type="text"], .sidebar-form .btn {
  background-color: #374850;
  border: 1px solid transparent;
  box-shadow: none;
  height: 35px;
}

.input-group-btn {
  font-size: 0;
  position: relative;
  white-space: nowrap;
}

.sidebar-form .btn {
  border-radius: 2px;
  color: #999;
  min-width: 0 !important;
}

.pmd-sidebar .pmd-user-info {
  a {
    background: #222D32 !important;
    color: #fff !important;
    font-size: 18px;
  }

  li a {
    background: #151d21 !important;
  }

  img {
    border-radius: 50%;
  }
}

.review-pagination {
  .pagination a,
  .current {
    color: black;
    font-size: 18px !important;
    font-weight: 600  !important;
    padding: 8px 12px;
    text-decoration: none;
  }

  .pagination a.active,
  .current {
    background-color: #4CAF50 !important;
    color: white !important;
  }

  a:hover {
    background: lightgray;
    padding: 8px 12px;
  }
}

.input-text-search {
  border: 1px solid #e7e7e7;
  border-radius: 2px;
  box-sizing: border-box;
  display: inline-block;
  font-size: 16px;
  padding: 6px 20px;
  width: 50%;
}

.flash-push {
  border-radius: 5px;
  box-shadow: 2px 2px 8px;
  font-size: 1.2em;
  font-weight: 500;
  margin: 0 0 10px 0;
  padding: 20px;
  position: relative;
  z-index: 9999;
}

.pmd-content {
  .breadcrumb {
    background: #222d32;
    border-radius: 0;
    font-size: 20px;
  }

  .breadcrumb li a {
    color: #fff !important;
  }
}

.quick-btn {
  background: #fff;
  box-shadow: 0 0 0 1px #F8F8F8 inset, 0 0 0 1px #CCCCCC;
  color: #444;
  display: inline-block;
  font-size: 22px;
  height: 150px;
  padding-top: 40px;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.quick-btn .label {
  position: absolute;
  right: -5px;
  top: -5px;
}

.quick-btn span {
  display: block;
}

.shortcuts {
  margin-bottom: 40px;
}

.stats_box {
  display: block;
  list-style: none outside none;
  margin-left: 0;
  margin-top: 20px;
  padding: 0;
}

.sparkline {
  border-right: 1px solid #dcdcdc;
  box-shadow: 1px 0 0 0 #fff;
  float: left;
  line-height: 52px;
  margin-right: 12px;
  min-width: 50px;
  padding: 10px 14px 0 4px;
}

.stats_box .stat_text {
  float: left;
  font-size: 12px;
  padding: 9px 10px 7px 0;
  position: relative;
  min-width: 140px;
  text-align: left;
}

.stats_box .stat_text strong {
  display: block;
  font-size: 16px;
}

.stats_box .stat_text .percent.down {
  color: #c52f61;
}

.stats_box .stat_text .percent {
  color: #444;
  float: right;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 17px;
}

.stats_box .stat_text .percent.up {
  color: #46a546;
}

.stats_box li {
  background: #fff;
  box-shadow: 0 0 0 1px #F8F8F8 inset, 0 0 0 1px #CCCCCC;
  display: inline-block;
  float: left;
  line-height: 18px;
  margin: 0 10px 10px;
  padding: 0 10px;
  text-shadow: 0 1px 0 rgba(255,255,255,0.6);
}

.market-updates {
  margin: 1.5em 0;

  .market-update-right,
  .market-update-left {
    padding: 0 !important;
  }
}

.market-update-block.clr-block-2 {
  background: #fc3158;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.market-update-block.clr-block-1 {
  background: #53d769;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.market-update-block.clr-block-3 {
  background: #147efb;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.market-update-block.clr-block-4 {
  background: #2a2727;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.market-update-block:hover {
  background: #8b5c7e;
  transition: 0.5s all;
}

.market-update-block {
  background: #999;
  padding: 2em 2em;
}

.market-update-right {
  padding-left: 0;
}

.market-update-right i.fa {
  color: #fff;
  font-size: 3em;
  text-align: left;
}

.market-update-left {
  padding: 0;
}

.market-update-block h4 {
  color: #fff;
  font-size: 1.2em;
  margin: 0.3em 0;
}

.market-update-block h3 {
  color: #fff;
  font-size: 2em;
  margin: 0;
}

.market-update-block p {
  color: #fff;
  font-size: 0.8em;
  line-height: 1.8em;
  margin: 0;
}

.box.box-danger {
  border-top-color: #dd4b39;
}

.box {
  background: #fff;
  border-radius: 3px;
  border-top: 3px solid #d2d6de;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  margin-bottom: 20px;
  position: relative;
  width: 100%;
}

.box-header.with-border {
  border-bottom: 1px solid #f4f4f4;
}

.box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
}

.box-title {
  display: inline-block;
  font-size: 18px;
  line-height: 1;
  margin: 0;
}

.box-header>.box-tools {
  position: absolute;
  right: 10px;
  top: 5px;

  .btn {
    color: #000 !important;
    min-width: 0 !important;
    padding: 8px;
  }
}

.btn-box-tool {
  background: transparent;
  color: #97a0b3;
  font-size: 12px;
  padding: 5px;
}

.no-padding {
  padding: 0 !important;
}

.box-body {
  border-radius: 3px;
}

.users-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.users-list>li {
  float: left;
  padding: 10px;
  text-align: center;
  width: 25%;
}

.users-list>li img {
  border-radius: 50%;
  height: auto;
  max-width: 100%;
}

.users-list-name, .users-list-date {
  display: block;
}

.users-list-name {
  color: #444;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.users-list-date {
  color: #999;
  font-size: 12px;
}

.box-footer {
  background-color: #fff;
  border-radius: 3px;
  border-top: 1px solid #f4f4f4;
  padding: 10px;
}

.bg-aqua {
  background-color: #00c0ef !important;
}

.bg-green {
  background-color: #00a65a !important;
}

.bg-yellow {
  background-color: #f39c12 !important;
}

.bg-red {
  background-color: #dd4b39 !important;
}

.info-box-icon {
  border-radius: 2px;
  color: #fff;
  display: block;
  float: left;
  height: 90px;
  width: 90px;
  text-align: center;
  font-size: 45px;
  line-height: 90px;
  background: rgba(0,0,0,0.2);
}

.info-box-content {
  color: #fff;
  padding: 5px 10px;
  margin-left: 90px;
}

.info-box-text {
  color: #fff;
  text-transform: uppercase;
}

.info-box-number {
  color: #fff;
  display: block;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 8px;
}

.progress-description, .info-box-text {
  display: block;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.small-box .inner {
  padding: 10px;
}

.small-box h3 {
  color: #fff;
  font-size: 38px;
  font-weight: bold;
  margin: 0 0 10px 0;
  padding: 0;
  white-space: nowrap;
}

.small-box p {
  color: #fff;
  font-size: 15px;
}

.small-box .icon {
  color: rgba(0, 0, 0, .15);
  font-size: 90px;
  position: absolute;
  right: 30px;
  transition: all .3s linear;
  top: -20px;
  z-index: 0;
}

.small-box>.small-box-footer {
  background: rgba(0,0,0,0.1);
  color: rgba(255,255,255,0.8);
  display: block;
  padding: 3px 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  z-index: 10;
}

.statics {
  margin-bottom: 20px;
}

.language-navbar .navbar-right {
  a {
    display: inline;
  }

  padding: 20px;
}
