.movie-form {
  font-size: 18px;

  label {
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif !important;
    margin: 20px 0 0;
    text-transform: uppercase;
  }

  input.form-control,
  textarea.form-control,
  .select2-selection,
  .select2-container--bootstrap .select2-results__option {
    font-size: 16px !important;
  }
}

.movie-form .select2-container {
  width: 100% !important;
}

.select2-container--bootstrap .select2-results__option {
  font-size: 16px !important;
}

.author-fields {
  .form-control {
    margin: 10px 0 5px;
    width: 93% !important;
  }

  .glyphicon-remove {
    background: white;
    border: 1px solid #070515;
    border-radius: 3px;
    color: black;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding: 7px;
  }

  .remove-tag {
    margin: 10px;
    position: absolute;
  }
}

.pmd-table th {
  background: #222D32;
  color: #fff !important;
  font-size: 18px !important;
}

.avatar-preview {
  display: block;
  height: auto;
  margin-bottom: 10px;
  width: 200px;
}

.button-upload {
  background: white;
  font-size: 24px;
}

.file-container [type="file"] {
  cursor: pointer;
  display: block;
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

.file-container {
  background: #00b8e8;
  border-radius: 2px;
  color: white;
  float: left;
  font-size: 1em;
  font-weight: 500;
  overflow: hidden;
  padding: 5px 10px;
  position: relative;
}

input.myErrorClass, textarea.myErrorClass {
  border: 1px #cc0000 solid !important;
  background: rgba(255, 229, 229, .8) !important;
}

input.myErrorClass, textarea.myErrorClass, .select2-selection.myErrorClass {
  display: block;
  font-size: 18px !important;
  padding: 6px !important;
}

label.myErrorClass {
  color: red !important;
  display: block;
  font-size: 14px !important;
  font-weight: 500 !important;
  padding: 5px 0 !important;
}

.admin-list-movies {
  .btn {
    min-width: 60px;
  }
}

.drawer {
  width: 98%;
  margin-bottom: 10px;
  margin-left: 8px;
}

.accordion-content {
  display: none;
  padding: 4px 0 6px;
  color: #212121;
  background: #FFF;
  font-size: 15px;
  line-height: 1.45em;
}

.tab-movie {
  width: 99%;
  display: inline-block;
  padding: 7px 0 9px 9px;
}

.fist-sections {
  width: 15%;
  float: left;
  margin-right: 10px;
  color: #333333;
  font-weight: bold;
}

.last-sections {
  width: 80%;
  float: right;
  color: #333333;
}

.fist-sections2 {
  width: 10%;
  float: left;
  margin-right: 10px;
  color: #333333;
  font-weight: bold;
}

.last-sections2 {
  width: 83%;
  float: right;
  color: #333333;
}

.tab-movie {
  font-size: 16px;
}

.form_in_place {
  [type=submit], [type=button] {
    border: none;
    border-radius: 3px;
    display: inline-block;
    margin: 10px 10px 0 0;
    width: 20%;
  }

  [type=submit] {
    background: #129411;
    color: #fff;
  }

  [type=button] {
    background: #e20000;
    color: #fff;
  }

  [type=text] {
    font-size: 16px;
  }
}
