.about-us .h5 {
  font-size: 20px;
  margin-top: 33px;
}

.about-us h1 {
  font-size: 48px;
  margin-bottom: 32px;
  margin-top: 27px;
}

.section-under-title-line {
  background-color: #23def7;
  height: .7rem;
  margin: 0 auto 5rem auto;
  width: 9.2rem;
}

.about-us .text {
  line-height: 16px;
  text-align: center;
}

.about-us p {
  color: #a8a7a7;
}

.about-us .creative-team {
  background: #f6f6f6;
  border-bottom: 1px solid #ececec;
  margin-top: 73px;
  padding-bottom: 89px;
}

.about-us .creative-team .video-block {
  margin-bottom: 40px;
  min-height: 160px;
  overflow: hidden;
  position: relative;
}

.about-us .creative-team .video-block img {
  height: auto;
  left: 0;
  min-height: 100%;
  position: absolute;
  top: -40%;
  width: 100%;
}

.about-us .creative-team .video-block .video-title {
  background: rgba(0,0,0,0.6);
  margin: 0 auto;
  padding-bottom: 4.5%;
  padding-top: 38px;
  position: relative;
  text-align: center;
}

.about-us .creative-team .video-block .button-play {
  cursor: pointer;
  display: block;
  height: 183px;
  margin: 0 auto;
  width: 183px;
}

.about-us .creative-team .video-block .video-title .title-first {
  font-size: 4em;
  margin-bottom: 2px;
}

.about-us .creative-team .video-block .video-title p {
  color: #fff;
  font-size: 15px;
  opacity: .8;
  text-shadow: 0 0 21px #000;
}

.about-us i {
  color: #08c1da;
}

.about-us .creative-team .row {
  margin: 58px auto 0;
}

.about-us .creative-team h1 {
  background: #f6f6f6;
  display: table;
  font-size: 48px;
  margin: 17px auto 10px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  z-index: 99999;
}

.about-us .creative-team hr {
  position: relative;
  top: -43px;
  z-index: 0;
}

.user-person-navigation {
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  margin-bottom: 20px;
  padding-bottom: 19px;
}

.user-person-navigation .member-avatar {
  margin-top: 20px;
}

.user-person-navigation .member-avatar {
  border: 7px solid #e0e0e0;
  height: 130px;
  margin: 35px auto 0;
  width: 130px;
}

.member-avatar {
  border-radius: 50%;
  display: block;
  overflow: hidden;
}

.member-avatar img {
  height: auto;
  width: 100%;
}

.user-name {
  font-size: 24px;
  margin-top: 12px;
  text-align: center;
  text-transform: capitalize;
}

.user-person-navigation h3 {
  margin-bottom: 7px;
  margin-top: 14px;
}

.user-person-navigation h6 {
  margin-bottom: 20px;
}

.user-membership {
  color: #08c1da;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
}

.about-us .contact {
  margin-bottom: 93px;
}

.about-us i {
  color: #08c1da;
}

.about-us .contact .btn-default {
  font-size: 24px;
  padding: 13px 50px;
  position: relative;
  top: 18px;
}

.about-us .contact .btn-default {
  color: #23def7 !important;
}

.about-us .contact .btn-default {
  background: #fff none repeat scroll 0 0 !important;
  border: 1px solid #37e1f8 !important;
  text-transform: none !important;

  &:hover, &:focus, &:active {
    background-color: #23def7 !important;
    border: 1px solid #23def7 !important;
    color: #fff !important;
  }
}

.footer {
  position: relative;
  
  a {
    color: #23def7;
  }
}

.footer .row {
  margin-left: -15px !important;
  margin-right: -15px !important;
  padding: 0 90px;
}

.button-to-top {
  background-color: #08c1da;
  border: 0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  height: 37px;
  left: 50%;
  padding: 0;
  position: absolute;
  top: -37px;
  transform: translate(-50%,0);
  z-index: 1050;
}

.button-to-top span {
  color: #fff;
  display: block;
  font-size: 12px;
  line-height: 37px;
  padding: 5px 16px 0;
}

.footer .widget-wrapper {
  background-color: #31353D;
}

.footer .widget {
  color: #fff;
  line-height: 24px;
  margin-top: 3rem;
}

.footer .logo {
  float: none;
  font-size: 24px;
  font-weight: bold;
  padding: 0;
}

.footer .logo-text {
  background: 0;
  color: #fff;
  margin-bottom: 12px;
  text-transform: capitalize;
}

.footer hr {
  border-color: rgba(255,255,255,0.15);
  opacity: .2;
}

.footer .widget .menu {
  margin-top: -11px;
  padding-left: 3px;
}

.footer .widget .menu li:before {
  background-color: #23def7;
  content: '';
  display: inline-block;
  height: 3px;
  margin-right: 10px;
  vertical-align: middle;
  width: 3px;
}

.follow-button.button-facebook {
  content: '\f09a';
}

.follow-button.button-facebook:before {
  background-color: #3b5998;
}

.follow-button.button-facebook:after {
  background-color: #263961;
}

.follow-button.button-twitter:before {
  background-color: #55acee;
}

.follow-button.button-twitter:after {
  background-color: #1689e0;
}

.follow-button.button-twitter {
  content: '\f099';
}

.follow-button.button-google-plus:before {
  background-color: #dd4b39;
}

.follow-button.button-google-plus:after {
  background-color: #ac2d1e;
}

.follow-button.button-google-plus {
  content: '\f0d5';
}

.footer .widget h5 {
  color: #23def7;
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
}

.footer .widget-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1.5rem;
  margin-top: 0;
  text-transform: uppercase;
}

.footer .widget .menu li a {
  color: #fff;
  line-height: 33px;
  text-transform: capitalize;
  transition: color .3s ease-in-out 0s;
  
  &:hover {
    color: #23def7;
    text-decoration: none;
  }
}
