@import "font-awesome-sprockets";
@import "font-awesome";

.movie-poster {
  img {
    border: 1px solid #C1C0A0;
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, .2);
    height: auto;
    margin: 5px;
    width: 100%;
  }

  h4 {
    font-size: 22px;
    font-weight: 400;
    margin: 0;
    padding: 0 0 5px 0;
    text-transform: uppercase;
  }

  h5 {
    background: #99947a;
    font-size: 1.5em;
    margin-bottom: 0;
    padding: 5px 10px;
  }
}

.movie-details {
  padding: 5px 0;

  h2 {
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .movie-types,
  p {
    display: inline-block;
  }

  a, p {
    font-size: 16px;
  }
}

.details {
  h4 {
    background: #000;
    color: #fff;
    margin-bottom: 0;
    padding: 5px 10px;
  }

  h5 {
    background: #99947a;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0;
    padding: 5px 10px;
  }

  ul {
    background: #fafafa;
    border: 1px solid #e6e6e6;
    border-bottom: 0;
    border-top: 0;
    margin: 0;
    padding: 0
  }

  li {
    font-size: 1.2em;
    line-height: 1.3;
    list-style: none;
    margin: 0;
    padding: .5em;
    white-space: normal;
  }

  li a {
    color: #1f7a99;
    font-weight: bold;
  }
}

.title_bar_wrapper {
  padding: 10px 0;
}

.ratings_wrapper {
  float: right;
  margin-left: 5px;
  position: relative;
  width: 185px;
  z-index: 2;

  .bookmark-movie {
    background: url("http://simpleicon.com/wp-content/uploads/bookmark.png") no-repeat -15px -118px;
    font-size: 11px;
    height: 40px;
    line-height: 13px;
    padding: 2px 0 0 34px;
    width: 58px;
  }

  .ratingValue {
    margin-bottom: -2px;
    white-space: nowrap;
  }

  .ratingValue strong {
    font-size: 24px;
    font-weight: normal;
    line-height: 24px;
  }

  .small {
    font-size: 10px;
  }

  .star-rating-widget {
    height: 42px;
    position: absolute;
    right: 0;
    top: 0;
    width: 92px;
  }

  .star-rating-button {
    height: 42px;
    width: 91px;
  }

  .star-rating-button button {
    border-radius: 0;
    font: normal 11px/13px Verdana, Arial, sans-serif;
    height: 42px;
    padding: 1px 0 1px 1px;
    text-align: left;
    white-space: normal;
    width: 91px;
  }

  .star-rating-star {
    float: left;
    height: 40px;
    margin-right: 1px;
    width: 40px;
  }

  .star-rating-text {
    display: block;
    padding-top: 8px;
  }
}

.titleBar {
  position: relative;
  padding: 0;

  .wl-ribbon.retina.not-inWL {
    background-position: -8px -62px;
  }

  .primary_ribbon {
    position: absolute;

    img {
      background: url("http://simpleicon.com/wp-content/uploads/bookmark.png") no-repeat;
      height: auto;
      width: 50px;
    }
  }

  .title_wrapper {
    margin-left: 52px;

    span {
      color: #CCCCCC;
      font-weight: 500;
    }
  }

  h2 {
    color: #C00000;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.3em;
    margin: 0;
    padding-bottom: 3px;
    text-align: left;
  }

  .subtext {
    font-size: 11px;
    color: blue;
  }

  .ghost {
    color: #6b6b6b;
    margin: 0 .5em;
  }
}

.author-small {
  font-family: BenchNine, Helvetica, Arial, sans-serif;
  color: #666;
  font-weight: 400;
  font-size: 18px;
  padding-top: -4px;
  margin-bottom: 10px;
  text-align: left;
  font-style: italic;
}

.movie-data, .author-small {
  a {
    color: #C00000;
    text-decoration: none;
  }
}

.article-header {
  h2 {
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    text-transform: none;
  }

  .article-issue {
    font-family: BenchNine, Helvetica, Arial, sans-serif;
    font-size: 20px;
  }
}

.star-rating {
  color: yellow;
}

.byline,
.article-body {
  font-size: 17px;
}

.article-body {
  display: block;
  margin-top: 20px;
}

.byline {
  .author-bold {
    font-weight: 600;
  }
}

.trending-review {
  padding: 5px 0;

  .sidebar-header {
    background: #b3140c;
    border: 1px solid #C1C0AA;
    color: #fff;
    font-family: BenchNine, Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 21px;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
  }

  .sidebar-body {
    background: white;
    border: 1px solid #C1C0AA;
    font-size: 14px;
    margin: 0;
    padding: 10px;
  }

  .sidebar-footer a {
    font-size: 18px;
    font-weight: 700;
  }

  .bp-block {
    line-height: 1.5em !important;
    margin: 0 0 20px 0;
    position: relative;
  }

  .bp-block p {
    font-size: 14px;
  }

  .article-list-left {
    display: block;
    float: left;
    height: 100%;
    padding: 0 10px 10px 0;
  }

  img {
    width: 100%;
  }

  a {
    color: #C00000;
    text-decoration: none;
  }

  .article-info {
    border-bottom: 1px solid lightgray;

    h4 {
      line-height: 1.3em;
    }
  }

  h4 {
    font-family: BenchNine, Helvetica, Arial, sans-serif;
    font-weight: 400;
    padding: 0 0 5px 0;
    margin: 0;
    text-transform: capitalize;
  }

  p.author-small {
    color: #666;
    font-family: BenchNine, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 10px;
    text-align: left;
  }

  hr {
    margin: 0 0 10px 0;
  }

  .sidebar-body .col-xs-12 {
    padding: 0 !important;
  }

  .article-info .col-xs-12 {
    padding: 0 10px 0 0 !important;
  }
}

.top-review {
  padding: 0 10px !important;
}

.movie-information {
  .col-md-4,
  .col-xs-12 {
    background: lightgray !important;
    padding-left: 0 !important;
  }
}

.movie-casting {
  float: left;
  font-size: 18px;
  padding: 10px;
  height: 100%;

  h1 {
    margin: 0;
    padding: 0 0 5px;
    color: #1e1e1e;
  }

  .movie-time {
    color: #888;
    display: block;
    margin-bottom: 12px;
    padding: 0;
    border-bottom: 0;
    float: left;
    width: 100%;
  }

  .mrB10 {
    margin-bottom: 10px;
  }

  .movie-rate {
    float: left;
    width: 135px;
  }

  .blank-rating-stars {
    display: inline-block;
    height: 19px;
    margin: 0 5px 0 0;
    width: 109px;
  }

  .ratingMovie {
    float: left;
    font: 500 12px/20px;
    margin-left: 5px;
  }

  .revised-block {
    background-color: #333;
    color: #fff;
    font: 400 11px/16px 'Roboto',sans-serif;
    height: 52px;
    margin: -67px 0 0 29px;
    padding: 5px;
    position: absolute;
    width: 125px;
  }

  .review-btn {
    background: #37a4c5;
    color: #FFF;
    display: block;
    float: left;
    font: 400 11px/10px;
    margin: 5px 8px 5px 0;
    padding: 9px 11px;
    position: relative;
    text-transform: uppercase;
  }

  .review-btn .review {
    background-position: -1px -31px;
    height: 15px;
    left: 8px;
    position: absolute;
    top: 7px;
    width: 15px;
  }

  .movie_sprite {
    background-repeat: no-repeat;
    display: block;
  }

  .movie-actors {
    float: left;
    font-weight: 700;
    text-transform: uppercase;
    width: 30%;
  }
}

.movie-image {
  float: left;
  position: relative;

  img {
    width: 100%;
  }
}

.write-review {
  padding: 20px;

  input,
  .select2-container {
    margin-bottom: 20px !important;
  }
}

#editor {overflow:scroll; max-height:300px}
