@import "font-awesome-sprockets";
@import "font-awesome";

.movie-poster {
  img {
    border: 1px solid #C1C0A0;
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, .2);
    height: auto;
    margin: 5px;
    width: 100%;
  }

  h4 {
    font-size: 22px;
    font-weight: 400;
    margin: 0;
    padding: 0 0 5px 0;
    text-transform: uppercase;
  }

  h5 {
    background: #99947a;
    font-size: 1.5em;
    margin-bottom: 0;
    padding: 5px 10px;
  }
}

.movie-details {
  padding: 5px 0;

  h2 {
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .movie-types,
  p {
    display: inline-block;
  }

  a, p {
    font-size: 16px;
  }
}

.details {
  h4 {
    background: #000;
    color: #fff;
    margin-bottom: 0;
    padding: 5px 10px;
  }

  h5 {
    background: #99947a;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0;
    padding: 5px 10px;
  }

  ul {
    background: #fafafa;
    border: 1px solid #e6e6e6;
    border-bottom: 0;
    border-top: 0;
    margin: 0;
    padding: 0
  }

  li {
    font-size: 1.2em;
    line-height: 1.3;
    list-style: none;
    margin: 0;
    padding: .5em;
    white-space: normal;
  }

  li a {
    color: #1f7a99;
    font-weight: bold;
  }
}

.title_bar_wrapper {
  padding: 10px 0;
}

.titleBar {
  position: relative;
  padding: 0;

  .wl-ribbon.retina.not-inWL {
    background-position: -8px -62px;
  }

  .title_wrapper {
    span {
      color: #CCCCCC;
      font-weight: 500;
    }
  }

  h2 {
    font-weight: 700;
    line-height: 1.3em;
    margin: 0;
    padding-bottom: 3px;
    text-align: left;
  }

  .subtext {
    font-size: 11px;
    color: blue;
  }

  .ghost {
    color: #6b6b6b;
    margin: 0 .5em;
  }
}

.author-small {
  color: #666;
  font-weight: 400;
  font-size: 18px;
  padding-top: -4px;
  margin-bottom: 10px;
  text-align: left;
  font-style: italic;
}

.movie-data,
.author-small {
  a {
    color: #f4511e;
    text-decoration: none;
  }
  
  &:hover {
    color: #c73f06 !important;
  }
}

.article-header {
  h2 {
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    text-transform: none;
  }

  .article-issue {
    font-size: 20px;
  }
}

.star-rating {
  color: #ff7a00;
  line-height: 1.3em;
}

.byline,
.article-body {
  font-size: 18px;
}

.article-body {
  display: block;
  margin-top: 20px;
}

.byline {
  .author-bold {
    font-weight: 600;
  }
}

.trending-review {
  padding: 5px 0;
  margin-bottom: 20px;

  .sidebar-header {
    background: #F15F43;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 21px;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
  }

  .sidebar-body {
    background: white;
    border: 1px solid #C1C0AA;
    font-size: 14px;
    margin: 0;
    padding: 10px;
  }

  .sidebar-footer a {
    font-size: 18px;
    font-weight: 700;
  }

  .bp-block {
    line-height: 1.5em !important;
    margin: 0 0 20px 0;
    position: relative;
  }

  .bp-block p {
    font-size: 16px;
  }

  .article-list-left {
    display: block;
    float: left;
    height: 100%;
    padding: 0 10px 10px 0 !important;
  }

  img {
    width: 100%;
  }

  a {
    color: #C00000;
    text-decoration: none;
  }

  .article-info {
    border-bottom: 1px solid lightgray;
    padding: 0 !important;

    h4 {
      line-height: 1.3em;
    }
  }

  h4 {
    font-weight: 700;
    margin: 0;
    padding: 0 0 5px 0;
    text-transform: capitalize;
  }

  p.author-small {
    color: #666;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 0;
    text-align: left;
  }

  hr {
    margin: 0 0 10px 0;
  }

  .top-review-content {
    padding: 0 0 0 5px !important;
  }
}

.top-review {
  padding: 0 30px !important;
  margin: 20px 0 !important;
}

.movie-casting {
  float: left;
  font-size: 18px;
  height: 100%;
  padding: 10px 0 10px !important;

  h1 {
    color: #1e1e1e;
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    padding: 0 0 5px;
    text-transform: uppercase;
  }

  .movie-time {
    border-bottom: 0;
    color: #888;
    display: block;
    float: left;
    padding: 0;
    width: 100%;
  }

  .mrB10 {
    margin-bottom: 10px;
  }

  .movie-rate {
    float: left;
    width: 135px;
  }

  .blank-rating-stars {
    display: inline-block;
    height: 19px;
    margin: 0 5px 0 0;
    width: 109px;
  }

  .ratingMovie {
    float: left;
    margin-left: 5px;
  }

  .revised-block {
    background-color: #333;
    color: #fff;
    height: 52px;
    margin: -67px 0 0 29px;
    padding: 5px;
    position: absolute;
    width: 125px;
  }

  .review-btn {
    background: #37a4c5;
    color: #FFF;
    display: block;
    float: left;
    font-weight: 700;
    margin: 20px 8px 5px 0;
    padding: 9px 11px;
    position: relative;
    text-transform: uppercase;
  }

  .review-btn .review {
    background-position: -1px -31px;
    height: 15px;
    left: 8px;
    position: absolute;
    top: 7px;
    width: 15px;
  }

  .movie_sprite {
    background-repeat: no-repeat;
    display: block;
  }

  .movie-data {
    color: #716c6c;
    float: left;
    font-weight: 700;
    line-height: 1.8em;
    text-transform: uppercase;
  }

  .casting {
    color: black;
    font-weight: 500;
    text-transform: capitalize;
    
    img {
      height: 25px;
      width: 37px;
    }
  }
}

.review-movie-image {
  float: left;
  padding: 10px 20px 10px 0 !important;
  position: relative;

  img {
    width: 100%;
  }
}

.write-review {
  font-size: 18px;
  padding: 20px 50px 50px;

  .select2-results__option--highlighted {
    background: cornflowerblue !important;
  }

  .select2-selection {
    border: 1px solid #e6e6e6 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    font-size: 18px !important;
  }

  h2 {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
  }

  h3 {
    font-size: 30px;
    font-weight: 700;
  }

  .add-review {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .form-group {
    margin-bottom: 30px !important;
  }

  .pmd-textfield label {
    color: #383838;
    font-family: "Roboto Condensed", Helvetica, Arial !important;
    font-size: 20px !important;
    font-weight: 700;
  }

  .pmd-textfield input.form-control {
    font-size: 18px !important;
    padding: 6px !important;
  }

  .pmd-textfield .form-control {
    border: solid 1px #e6e6e6 !important;
  }

  .control-label {
    font-family: "Roboto Condensed", Helvetica, Arial !important;
    font-size: 20px !important;
  }

  .title-review label {
    text-transform: capitalize;
  }

  .select2-container .select2-selection--single {
    height: auto!important;
  }
}

.select2-results {
  font-size: 18px !important;
}

.trending-content {
  display: block;
  line-height: 1.3em;
}

.movie-info {
  border-bottom: 0 !important;
  margin-top: 15px;

  th, td {
    border: 1px !important;
    padding: 0 20px 0 0 !important;
  }
}

.add-review-title {
  font-size: 16px !important;
}

// Photo
.image-preview {
  height: 220px;

  img {
    height: auto;
    width: 100%;
  }
}

.image-field [type="file"] {
  display: none;
}

.nested-fields {
  overflow: hidden;
  padding-left: 0 !important;
  position: relative;

  .col-xs-12 {
    padding-left: 0 !important;
  }
}

.add-images {
  margin-bottom: 50px;
  padding: 0 !important;

  label {
    font-size: 16px;
    font-weight: 700;
    margin: 10px 0 0;
  }

  .add-image-button {
    background: black;
    height: 250px;
    opacity: .5;
    padding: 5px;

    i {
      color: white;
      font-size: 80px;
      padding-top: 75px;
    }
  }
}

.remove-image {
  float: right;
}

.js .input-file-trigger {
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  display: block;
  font-size: 1em;
  font-weight: normal;
  padding: 5px 0;
  text-transform: capitalize;
  transition: all .4s;
}

.js .input-file {
  cursor: pointer;
  left: 0;
  opacity: 0;
  padding: 14px 0;
  position: absolute;
  top: 0;
}

.file-return {
  margin: 0;
}

.file-return:not(:empty) {
  margin: 1em 0;
}

.js .file-return {
  font-size: .9em;
  font-style: italic;
  font-weight: bold;
}

.input-file-divigger {
  width: 100%;
}

// require select2
input.myErrorClass, textarea.myErrorClass {
  border: 1px #cc0000 solid !important;
  background: rgba(255, 229, 229, .8) !important;
}

input.myErrorClass, textarea.myErrorClass, .select2-selection.myErrorClass {
  display: block;
  font-size: 18px !important;
  padding: 6px !important;
}

label.myErrorClass {
  color: red !important;
  display: block;
  font-size: 14px !important;
  font-weight: 500 !important;
  padding: 5px 0 !important;
}

.movie-infos {
  padding: 0 !important;
}

.review-details {
  padding: 10px 30px !important;
  
  h3 {
    font-size: 23px;
  }
  
  .create-comment {
    font-size: 18px;
    font-weight: 700;
  }
}

.movie-rating{
  color: #ff7a00 !important;
  font-size: 20px !important;
}

ul.movie-item-listing {
  background: url("https://timesofindia.indiatimes.com/photo/45795380.cms") repeat-x top;
  height: 45px;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.movie-item-listing li {
  float: left;
  text-align: center;
  text-transform: uppercase;
  width: auto;
}

ul.movie-item-listing li.tab-live p {
  background: #666;
  border-top: 5px solid #000;
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 900 !important;
  padding: 5px 10px !important;
  position: relative;
  text-decoration: none;
}

ul.movie-item-listing li.tab-live p span {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #666;
  bottom: -5px;
  display: block;
  height: 0;
  left: 45%;
  position: absolute;
  width: 0;
}

.review-content {
  margin-top: 20px;
}

.movie-score {
  background: yellow;
  border: 1px solid;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 900 !important;
  padding: 0 10px;
}

.flag {
  border: 1px solid black;
}

.glyphicon-bookmark {
  font-size: 44px !important;
  position: relative;
}

time {
  color: grey;
}

.slick-track {
  width: 100% !important;
}

.slick-slide {
  margin-left: 1%;
  width: 32.3%;
}

.slick-track:first-child {
  margin-left: 0.4%;
}

.photo-item {
  height: 250px;
  overflow: hidden;
}

.photo-item img {
  height: 250px;
  margin-left: 50%;
  margin-top: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.CarouselButton {
  transform: translateY(-50%);
  top: 50%;
}

.CarouselButton.CarouselButton__left {
  left: -16px;
}

.CarouselButton.CarouselButton__right {
  right: -16px;
  // float: right;
}

.CarouselButton {
  border: none;
  border-radius: 50%;
  background: white;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
  color: gray;
  height: 40px;
  line-height: 0;
  padding: 0;
  position: absolute;
  width: 40px;
  z-index: 1;
}

.outer-container {
  height: 100%;
  position: relative;
}

.gallery {
  position: relative;
  padding: 50px 0;
  height: 100%;
}

.gallery div {
  text-align: center;
  height: 100%;
  float: left;
}

.gallery div img {
  margin: auto;
  height: 100%;
}

.gallery button {
  background: #282828;
  border: none;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  height: 60px;
  margin-top: -30px;
  padding: 10px;
  top: 50%;
  width: 70px;
}

.txt9 {
  font-size: 16px;
  margin-top: 10px;
}

a.more-link {
  color: cornflowerblue;
  display: inline-block;
  float: right;
  margin-top: 10px;
  padding: 8px 20px;
  text-transform: uppercase;
}

#search2 {
  margin-bottom: -16px;
}

#search2 input {
  background: #f5f5f5;
  border: 1px solid #f5f5f5;
  border-radius: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #bbbaba;
  float: left;
  font-size: 16px;
  height: 42px;
  outline: none;
  overflow: hidden;
  padding: 10px 40px 10px 10px;
  resize: none;
  width: 100%;
}

.more_btn2 {
  background: url("https://livedemo00.template-help.com/wt_49053/images/zoom_icon.png") 0 0 no-repeat;
  display: inline-block;
  height: 20px;
  margin-left: -38px;
  margin-top: 10px;
  position: relative;
  width: 24px;
}

button.more_btn2 {
  border: 0 !important;
}

.admin-reviewer {
  background: red;
  color: #fff !important;
  padding: 5px;
  font-style: normal !important;
}
