@import "font-awesome-sprockets";
@import "font-awesome";

$flash-success: #428c32;
$flash-background-success: rgb(211, 255, 202);
$flash-danger: #7d0707;
$flash-background-danger: #fdf1f1;
$blue-gray: #34495e;
$blue-gray-darken: #2c3e50;
$blue: #3498db;
$blue-darken: #2980b9;
$green: #1abc9c;
$green-darken: #16a085;

body {
  background: #fff;
  font-family: "Helvetica Neue", Arial, sans-serif !important;
}

.title-font {
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif !important;
}

.wrapper {
  background: #fff;
  display: block;
  margin: 0 auto;
  padding-bottom: 150px;
}

.content-web {
  display: block;
  margin: 0 auto;
  max-width: 1440px;
}

.site-poster {
  background: #1e100e url("//2.bp.blogspot.com/-UvodvikwYeI/VSutleD4ZhI/AAAAAAAAE5U/IJR04wNm3Zg/s1600/top-bg.jpg") center 8% no-repeat;
  color: #333;
  font: x-small Georgia Serif;
  font-size: small;
  height: 12em;
  margin: 0 1em;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-align: left;
}

.header-home {
  color: #222;
  float: left;
  letter-spacing: 1px;
  margin: -10px 0 0 25%;
  text-align: left;
  text-shadow: 0 2px 3px #555;
  width: 480px;
}

.header-inner {
  background-position: center;
  margin-left: auto;
  margin-right: auto;
}

.navbar-inverse {
  background-color: #F9F9F9 !important;
  border: none !important;
  border-radius: 0 !important;
  font-size: 18px !important;
  margin: 0 !important;

  a {
    color: #000 !important;
  }

  a:hover {
    background-color: #F15F43 !important;
    color: #fff !important;
  }

  a:focus, li.active a {
    background-color: #F15F43 !important;
    color: #fff !important;
  }
}

.navbar-header a {
  color: #333 !important;
  font-family: "Germania One", sans-serif;
}

.home_img {
  background: linear-gradient(to bottom, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 49%, rgba(248,181,0,1) 72%, rgba(248,181,0,1) 87%, rgba(248,181,0,1) 97%, rgba(251,223,147,1) 100%);
  font-size: 30px !important;
}

.new-movies-slide,
.top-movies-slide {
  margin-top: 5px;
}

.movie-best .movie-best-rating {
  background-color: #ffd564;
  color: #4c4145;
  font: 20px 'aleobold', sans-serif;
  padding-bottom: 25px;
  padding-top: 26px;
  position: relative;
  text-align: center;
  text-transform: uppercase;

  h2, i {
    display: inline-block;
  }

  h2 {
    font-size: 22px;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }

  i {
    font-size: 16px;
  }
}

.movie-items {
  overflow: hidden;
  position: relative;

  img {
    height: 300px;
    overflow: hidden;
    text-align: center;
    width: 100% !important;
  }

  .caption-overlay {
    padding: 10px 0;
    width: 100%;
    z-index: 2;
  }

  .primary {
    font-size: 22px;
    font-weight: 700;
    height: 60px;
    line-height: 1.3em;
    max-height: 60px;
    text-overflow: ellipsis;
  }

  .secondary {
    font-size: 15px;
  }
}

.movie-caption {
  a, a:hover {
    color: #ff2b03 !important;
    font-size: 24px;
    text-transform: uppercase;
  }
}

.movie-items .best-rate {
  background-color: rgba(238, 238, 238, 0.83);
  border-radius: 50px;
  color: #4C4145;
  font: bold 20px 'Aleo', sans-serif;
  height: 100px;
  left: 30%;
  margin: -60px 0;
  padding-top: 20px;
  position: absolute;
  text-align: center;
  top: 50%;
  transition: 0.5s;
  width: 100px;
}

.movie-items:hover .best-rate {
  background-color: #ffd564;
}

.row {
  margin: 0 !important;
  padding: 0;
}
h2 {
  margin: 20px 0 30px 0;
  text-align: center;
}
a:hover {
  text-decoration: none;
}
a:hover .caption h4{
  color: #FF0000;
}

.bp-block {
  line-height: 1.7em;
  margin: 30px 50px;
  position: relative;

  h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.5;
    margin: -5px 0 0 0;
    padding: 0 0 5px 0;
    text-align: left;
    text-transform: uppercase;
  }

  a {
    color: #f4511e;
    text-decoration: none;

    &:hover {
      color: #c53305;
    }
  }

  h3 {
    color: #555;
    font-weight: 700 !important;
    line-height: 1.3em;
    margin: 0 0 0 0;
    padding: 0 0 10px 0;
  }

  p {
    margin: 0 0 10px;
  }

  p.genre-links {
    color: #C1C0AA;
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0 20px 0;
    text-align: left;
  }

  p.excerpt {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .read-full {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    padding: 10px 0 0 0;
    text-align: right;
    text-transform: uppercase;

    a {
      color: #337ab7;
    }
  }

  .review-content p {
    color: #404040;
    font-size: 18px;
    line-height: 1.5em;
  }
}

.article-list-left {
  display: block;
  float: left;
  height: 100%;
  padding: 0 20px 10px 0;
}

.cover img {
  border: 1px solid #C1C0AA;
  box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.2);
  height: auto;
  margin-bottom: 10px;
  width: 260px !important;
}

.top-movies-slide .owl-nav, .new-movies-slide .owl-nav {
  i {
    font-size: 60px;
    position: absolute;
    top: 40%;
  }

  .owl-prev i {
    left: -50px;
  }

  .owl-next i {
    right: -50px;
  }
}

.reviews-slide {
  i {
    font-size: 60px;
    position: absolute;
    top: 40%;
  }

  .owl-next i {
    right: 0;
  }
}

.flash-push {
  border-radius: 5px;
  box-shadow: 2px 2px 8px;
  font-size: 1.2em;
  font-weight: 500;
  margin: 0 0 10px 0;
  padding: 20px;
  position: relative;
  z-index: 9999;
}

.success,
.notice {
  background: $flash-background-success;
  box-shadow: $flash-success;
  color: $flash-success;
}

.danger,
.alert {
  background: $flash-background-danger;
  box-shadow: $flash-danger;
  color: $flash-danger;
}

#homeNews .blockIconFacebook {
  padding-left: 0;
}

#homeNews .blockIconFacebook {
  float: left;
  height: 25px;
  width: 100%;
}

.wrapIcon {
  cursor: pointer;
  display: inline-table;
  margin-left: 10px;
}

.wrapIcon .iconFacebook {
  height: auto;
  margin-right: 6px;
  margin-top: 0;
  transition: all .2s;
  vertical-align: middle;
  width: 18px !important;
}

.wrapIcon.like * {
  pointer-events: none;
}

#homeNews .amount {
  color: #bbb;
  font-size: 12px;
  line-height: 1;
}

.wrapIcon .amount {
  display: table-cell;
  vertical-align: middle;
}

#homeNews .active a {
  font-size: 24px;
}

.wrapIcon a {
  display: inline-table;
}

.review-sub-info {
  font-size: 16px;
  margin-top: 5px;
}

.review-author {
  font-size: 20px;
  margin-bottom: 10px;
}

.movie-items .publish-date-new {
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-weight: 500;
  padding: 2px 10px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
}

.movie-items .publish-date-new .date {
  display: block;
  font-size: 24px;
  float: left;
}

.movie-items .publish-date-new .month {
  float: right;
  font-size: 16px;
  margin-top: 10px;
}

.movie-items .item-new-movie {
  background: url("http://static.hdonline.vn/template/frontend/images/icon_new_2.png") no-repeat;
  background-size: contain;
  display: block;
  height: 70px;
  left: 0;
  position: absolute;
  text-indent: -1000em;
  top: 0;
  width: 70px;
  z-index: 100;
}

.star-rating img {
  display: inline !important;
  height: 20px;
  width: 20px !important;
}

#shareBtn, #likeBtn, #unlikeBtn, #like-login {
  background-color: #4267B2;
  border-radius: 3px;
  color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  font-size: 14px;
  font-weight: 500;
  min-width: 0;
  padding: 4px 6px;
  text-decoration: none;
  text-transform: capitalize;

  i {
    font-weight: 400 !important;
  }
}

#unlikeBtn {
  background: #4080FF !important;
}

.dropdown-content {
  background: #fff;
  padding: 0;

  .col-sm-3 {
    padding-right: 0 !important;
  }
}

.dropdown:hover .dropbtn {
  background-color: #F15F43;
  color: #fff !important;
}

.navbar-inverse ul.dropdown-content a {
  background: transparent !important;
  color: #000 !important;
}

.dropdown-content.columns-2 {
  min-width: 800px;
}

.dropdown-content li a {
  color: #000;
  font-weight: 300;
  padding: 5px 15px;
}

.multi-column-dropdown {
  list-style: none;
  margin: 0;
  padding: 0;
}

.multi-column-dropdown li a {
  clear: both;
  color: #333;
  display: block;
  line-height: 1.428571429;
  white-space: normal;

  &:hover {
    background-color: #F15F43 !important;
    color: #fff !important;
  }
}

.multi-column-dropdown li a:hover {
  background-color: #999;
  color: #262626;
  text-decoration: none;
}
 
@media (max-width: 767px) {
  .dropdown-content.multi-column {
    min-width: 300px !important;
    overflow-x: hidden;
  }
}

.coming-soon {
  padding-top: 0 !important;

  img {
    height: auto;
  }
}

.section-title {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 36px !important;
  margin-bottom: 1.4rem;
  margin-top: 3rem;
  text-align: center;
  text-transform: capitalize;
}

.section-under-title-line {
  background-color: #23def7;
  height: .7rem;
  margin: 0 auto 3rem auto;
  width: 9.2rem;
}

header {
  background: #31353d;
  padding: 30px 0;
  position: relative;
  z-index: 9;
}

.search1 {
  float: right;
  margin-top: 16px;
}

.search1 input {
  background: #3f424a;
  border: 1px solid #3f424a;
  border-radius: 1px;
  box-shadow: none;
  box-sizing: border-box;
  color: #858a94;
  display: inline-block;
  float: left;
  font: 14px/20px Arial,Helvetica,sans-serif;
  height: 56px;
  outline: none;
  overflow: hidden;
  padding: 17px 45px 17px 14px;
  resize: none;
  width: 100%;
}

.search1 button {
  border: 0;
}

.search1.col-sm-4 {
  padding: 0 !important;
}

.more_btn3 {
  background: url("https://livedemo00.template-help.com/wt_49053/images/header_search_icon.png") 0 0 no-repeat;
  display: inline-block;
  height: 30px;
  margin-left: -40px;
  margin-top: 14px;
  position: relative;
  width: 26px;
}

.navbar-collapse, .container-fluid {
  padding-left: 0 !important;
}

.grid_12 {
  h1 {
    color: #fff;
    font-size: 60px;
    margin: 0 !important;
  }

  a:hover {
    color: #fff;
    display: inline;
    text-decoration: none;
  }
  
  span {
    color: #fff;
    display: inline;
    font-size: 18px !important;
    text-transform: uppercase;
  }
}

.breadcrumb {
  margin: 10px 15px;

  a {
    color: #f5670e;
    font-size: 16px;
  }

  .active a {
    color: #2c3e50 !important;
  }
}

@media (min-width: 768px) and (max-width: 843px) {
  .container {
    width: auto !important; 
  }

  .grid_12 h1 {
    font-size: 44px !important;;
  }
}

@media (min-width: 843px) and (max-width: 992px) {
  .container {
    width: auto !important; 
  }

  .grid_12 h1 {
    font-size: 50px !important;;
  }
}

.language-nav .navbar-nav > li > a, .navbar-brand {
  display: inline;
  height: 35px;
  padding: 8px 15px 0 !important;
}

.language-nav.navbar {
  min-height: 30px !important;
}
