@import "bootstrap-sprockets";
@import "bootstrap";
.row {
	margin: 0;
	padding: 0;
}
h2 {
	margin: 20px 0 30px 0;
	text-align: center;
}
a:hover {
	text-decoration: none;
}
a:hover .caption h4{
	color: #FF0000;
}
.thumbnail img {
	width: 100%;
	object-fit: scale-down;
    max-height: 355px;
}
.caption h4, .caption p {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
ul.list_of_movies{
	padding: 0;
}
ul.list_of_movies li {
	list-style-type: none;
	width: 24%;
	display: inline-block;
	margin-right: 0.35%;
    margin-left: 0.39%;
}
.pagi {
	display: flex;
    justify-content: center;
}