.list-movie-filter {
  padding: 10px 0px;
}

.list-movie-filter .list-movie-filter-main {
  color: #ddd;
  display: block;
}

.list-movie-filter .list-movie-filter-item {
  float: left;
  margin: 0px 6px;
  width: 20%;
}
