.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  background: #fff;
  padding: 20px 0 10px 0;
}

.profile-avatar img {
  border-radius: 50% !important;
  float: none;
  height: 50%;
  margin: 0 auto;
  width: 50%;
}

.profile-user-title {
  margin-top: 20px;
  text-align: center;
}

.profile-user-name {
  color: #5a7391;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-user-username {
  color: #5b9bd1;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-buttons {
  margin-top: 10px;
  text-align: center;

  a {
    font-size: 14px !important;
    text-transform: capitalize !important;
  }
}

.profile-buttons .btn {
  font-size: 11px;
  font-weight: 600;
  margin-right: 5px;
  padding: 6px 15px;
  text-transform: uppercase;
}

.profile-buttons .btn:last-child {
  margin-right: 0;
}
    
.profile-user-menu {
  margin-top: 30px;
}

.profile-user-menu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-user-menu ul li:last-child {
  border-bottom: none;
}

.profile-user-menu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-user-menu ul li a i {
  font-size: 14px;
  margin-right: 8px;
}

.profile-user-menu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-user-menu ul li.active {
  border-bottom: none;
}

.profile-user-menu ul li.active a {
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  color: #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  background: #fff;
  min-height: 460px;
  padding: 20px;
}

/* header user */
.popover_menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.popover_menu_item_blog {
  background: #fff;
  border-top: 1px solid rgba(68, 68, 68, .1);
  padding: 0;
  width: 100%;
}

.popover_menu_item_blog:first-child {
  border-top: none;
}

.popover_menu_item {
  border-bottom: 1px solid #e7e7e7;
  border-bottom: 0;
  box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .6);
  color: #444;
  display: block;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 15px 0;
  position: absolute;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.popover_menu_item:last-child {
  border-bottom-color: #000;
}

.popover_menu_item:first-child {
  box-shadow: none;
}

.popover_menu_item_blog_details {
  padding-top: 5px !important;
}

.blog-list-item,
.blog-list-item .blog-list-item-anchor {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  min-height: 70px;
}

.blog-list-item {
  font-size: 13px;
  padding-right: 10px;
}

.blog-list-item:hover {
  background: #E6EFF7;
}

.blog-list-item .blog-list-item-anchor {
  flex: 1;
  padding-left: 10px;
}

.blog-list-item .blog-list-item-avatar {
  display: inline-block;
  height: 50px;
  margin-right: 10px;
  position: relative;
  width: 50px;
}

.blog-list-item .blog-list-item-image {
  border-radius: 3px;
  height: auto;
  width: 100%;
}

.blog-list-item .blog-list-item-info {
  box-sizing: border-box;
  display: block;
  flex: 1;
  font-size: 14px;
  line-height: 17px;
  max-width: 135px;
}

.blog-list-item .blog-list-item-info .blog-list-item-info-name {
  font-size: 20px;
  font-weight: 700;
}

.blog-list-item .blog-list-item-info .blog-list-item-info-name,
.blog-list-item .blog-list-item-info .blog-list-item-info-title {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.blog-list-item .blog-list-item-info .blog-list-item-info-title {
  color: #8f8f8f;
  font-size: 16px;
  padding-top: 10px;
}

.popover_menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.blog-sub-nav-item {
  padding: 4px 0;
}

.blog-sub-nav-item:hover {
  background: #E6EFF7;
  color: #3e5266;
}

.blog-sub-nav-item .blog-sub-nav-item-link {
  display: block;
  height: 27px;
  line-height: inherit;
  padding: 0;
}

.blog-sub-nav-item {
  padding: 5px;
}

.blog-sub-nav-item .blog-sub-nav-item-label {
  display: inline-block;
  float: left;
  font-size: 18px;
}

.blog-sub-nav-item .blog-sub-nav-item-data {
  color: #8f8f8f;
  display: inline-block;
  float: right;
}

.horizon {
  margin: 0;
}

.dropbtn {
  border: none;
  color: white !important;
  cursor: pointer;
  padding: 16px;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
  display: none;
  min-width: 160px;
  position: absolute;
  z-index: 9999;

  a {
    color: black !important;
  }

  a:hover {
    background-color: transparent !important;
  }
}

.dropdown-content a {
  color: black;
  display: block;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.profile-link {
  margin-bottom: 0 !important;
}

.article {
  background-color: #FFFFFF;
  border: 1px solid #E8E8E8;
  border-radius: 12px;
  margin-bottom: 7px;
  padding: 10px 12px;
  width: auto;
}

.user-profile .reviews .item {
  clear: left;
  margin-top: 15px;
  max-height: 265px;
}

.toggle-overflow {
  overflow: hidden;
}

.reviews {
  .image {
    float: left;

    img {
      height: auto;
      width: 100%;
    }
  }

  h3 {
    color: #A58500;
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 0.5em;
    padding: 0;
  }

  h4 {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
  }

  .details {
    color: #999;
    font-size: 16px;
    margin-bottom: 3px;
  }

  p {
    line-height: 140%;
    margin: 0.5em 0 0.75em;
    padding: 0;
  }

  .movie-year {
    color: #adadad;
    font-weight: bold;
  }
}

.login-form {
  font-family: "Roboto Condensed", Helvetica, Arial !important;
  font-size: 18px;

  h2 {
    font-size: 40px;
    text-transform: uppercase;
  }
  
  h3 {
    color: cornflowerblue;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  p {
    font-size: 20px;
    font-weight: 600;
    margin: 0 !important;
  }

  .pmd-card {
    box-shadow: 2px;
    margin-top: 30px;
    padding: 20px;
  }

  .checkbox label {
    font-weight: 500;
    margin: 5px 0 10px 0;
    padding: 3px;
  }

  .btn {
    width: 100%;
  }

  .login-link {
    font-size: 16px;
    font-weight: 600;
  }

  .login-fb {
    background: #2a2f92 !important;
    margin-bottom: 15px;
  }

  .btn {
    font-size: 19px;
    font-weight: 700;
  }

  label {
    color: #111 !important;
    font-size: 20px !important;
    font-weight: 600 !important;
    padding-top: 10px !important;
  }

  em {
    color: gray;
    font-size: 14px;
  }
  
  .pmd-textfield .form-control {
    font-size: 20px !important;
    padding: 0 !important;
  }
}

.error-edit-user {
  h2 {
    color: red;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
  }
}

.img-responsive {
  display: block; 
  margin: 0 auto;
}

.profile-sidebar {
  font-size: 18px !important;

  a {
    font-size: 18px !important;
  }

  li a {
    color: gray !important;
  }

  li.active a {
    color: #5b9bd1 !important;
    font-weight: 600;
  }
}

.profile-content {
  h2 {
    font-size: 30px;
    font-weight: 700;
    padding: 10px;
    text-transform: uppercase;
  }
}

.edit-review {
  padding-top: 10px;
}

.more {
  font-size: 16px;
  margin-bottom: 5px;
}

.edit-review .btn {
  font-size: 18px !important;
  font-weight: 700 !important;
}

[data-readmore-toggle], selector[data-readmore] {
  display: block;
  font-size: 18px;
  font-weight: 700;
  width: 100%;
}

.all-comment {
  font-size: 18px !important;
  font-weight: 700;
}

.review-pagination {
  .pagination a,
  .current {
    color: black;
    font-size: 18px !important;
    font-weight: 600  !important;
    padding: 8px 12px;
    text-decoration: none;
  }

  .pagination a.active,
  .current {
    background-color: #4CAF50 !important;
    color: white !important;
  }
  
  a:hover {
    background: lightgray;
    padding: 8px 12px;
  }
}

.page-info {
  font-size: 16px;
}

.bootstrap-pagination {
  a {
    font-size: 18px !important;
  }
}

.item {
  p {
    font-size: 16px;
  }
}

.avatar-preview {
  height: auto;
  margin-bottom: 10px;
  width: 50%;
}

.button-upload {
  background: white;
  font-size: 24px;
}

.file-container [type="file"] {
  cursor: pointer;
  display: block;
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

.file-container {
  background: #00b8e8;
  border-radius: 2px;
  color: white;
  float: left;
  font-size: 1em;
  font-weight: 500;
  overflow: hidden;
  padding: 5px 10px;
  position: relative;
}

.user-profile .user-list {
  clear: left;
  height: 90px;
  margin-bottom: 5px;
  padding-top: 5px;
}

.user-profile .userLists .list-actions {
  float: right;
}

.user-profile .list-name {
  display: block;
  font-weight: bold;
  margin-left: 96px;
  word-wrap: break-word;
}

.user-profile .user-list .description {
  max-height: 50px;
  overflow-y: hidden;
  text-overflow: ellipsis;
}

.user-profile .list-meta {
  color: #666;
  font-size: 11px;
  margin-bottom: 4px;
}

.user-profile .user-list img {
  float: left;
  margin-right: 10px;
}

.user-review-title a {
  color: #f4511e !important;
  line-height: 1.3em;

  &:hover {
    color: #c53305;
  }
}

.bookmarks {
  p.txt7 {
    margin: 0 !important;
  }
  
  .txt7 a {
    font-size: 22px !important;
    font-weight: 600;
  }
  
  p.des {
    margin-top: 15px;
  }
}

.more {
  overflow: hidden;
}
