<li class="search-item col-xs-12">
  <div class="row">
    <%= link_to review, data: {turbolinks: false} do %>
      <div class="col-xs-2 col-md-3 col-sm-3">
        <%= image_tag review.movie.avatar, class: "img-responsive" %>
      </div>
      <div class="col-xs-10 col-md-9 col-sm-9 item-content">
        <div class="row">
          <p class="item-search"><strong><%= review.title %></strong></p>
          <p class="item-search"><i><%= Review.name %></i></p>
        </div>
      </div>
      <div class="clear-fix"></div>
    <% end %>
  </div>
</li>
